footer {
	background-color: #000;
	width: 100%;
	overflow: hidden;

	.vid {
		width: 100%;
		height: 400px;
		position: relative;
		margin-bottom: 100px;
		margin-top: 100px;

		video {
			width: 100%;
			height: 100%;
			object-fit: cover;
			filter: grayscale(0.8);
		}
		h2 {
			font: 50px/1 'koulen';
			color: #ae8854;
			text-shadow: 2px 2px #000;
			letter-spacing: 3px;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translateX(-50%) translateY(-50%);
		}
		a {
			text-align: center;
			display: inline-block;
			position: absolute;
			width: 100px;
			height: 36px;
			background-color: #daa964;
			border: 1px solid #daa964;
			font: 18px/1.8 'oswald';
			color: #000;
			transition: 0.5s;
			bottom: 20%;
			left: 50%;
			transform: translateX(-50%);
		}
		a:hover {
			color: #daa964;
			background-color: rgba(0, 0, 0, 0.5);
		}
	}

	.swiper {
		height: 100%;
		overflow: visible;
		margin-top: 40px;
		margin-bottom: 80px;

		.swiper-slide {
			width: 100%;
			background: #000;
			display: flex;
			justify-content: center;
			align-items: center;
			font: bold 50px/1 'arial';
			color: #fff;
			transform: scale(0.7);
			transition: 1s;
			img {
				width: 50%;
				object-fit: cover;
			}
		}
		.swiper-slide::before {
			content: '';
			opacity: 0.2;
			position: absolute;
			top: 0px;
			left: 0px;
			right: 0px;
			bottom: 0px;
			background-color: #000;
		}
		// .swiper-slide-active {
		// 	transform: scale(1);
		// 	opacity: 1;
		// }
	}
	.inner {
		width: 100%;
		height: 400px;
		margin: 0 auto;
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		.left {
			h2 {
				font: 50px 'Libre Bodoni';
				color: #c9ab81;
				margin-bottom: 20px;
				&::after {
					content: '';
					display: block;
					width: 175px;
					height: 1px;
					background-color: #c9ab81;
					margin-top: 10px;
				}
			}
			p {
				font: bold 16px/2 'lato';
				color: #c9ab81;
				margin-bottom: 20px;
			}
		}
		.middle_0 {
			h6 {
				font: 18px 'lato';
				color: #c9ab81;
				margin-bottom: 20px;
				&::after {
					content: '';
					display: block;
					width: 110px;
					height: 1px;
					background-color: #c9ab81;
					margin-top: 10px;
				}
			}
			ul {
				li {
					font: bold 17px/2 'lato';
					color: #c9ab81;
					margin-bottom: 10px;
					a {
						color: #c9ab81;
					}
				}
			}
		}
		.middle {
			h6 {
				font: 18px 'lato';
				color: #c9ab81;
				margin-bottom: 20px;
				&::after {
					content: '';
					display: block;
					width: 85px;
					height: 1px;
					background-color: #c9ab81;
					margin-top: 10px;
				}
			}
			ul {
				li {
					font: bold 17px/2 'lato';
					color: #c9ab81;
					margin-bottom: 10px;
					a {
						color: #c9ab81;
					}
				}
			}
		}
		.right {
			h6 {
				font: 20px 'lato';
				color: #c9ab81;
				margin-bottom: 20px;
				&::after {
					content: '';
					display: block;
					width: 122px;
					height: 1px;
					background-color: #c9ab81;
					margin-top: 10px;
				}
			}
			ul {
				li {
					font: bold 17px/2 'lato';
					color: #c9ab81;
					margin-bottom: 5px;
					display: flex;
					flex-direction: column;
					a {
						color: #c9ab81;
					}
					span {
						font-style: italic;
						font-size: 14px;
					}
				}
			}
		}
	}
}

//tablet
@media screen and (max-width: $tablet) {
	footer {
		.vid {
			h2 {
				font: 40px/1 'koulen';
			}
		}
		.inner {
			.left {
				h2 {
					font: 40px 'Libre Bodoni';

					&::after {
						width: 140px;
					}
				}
				p {
					font: bold 14px/2 'lato';
				}
			}
			.middle_0 {
				h6 {
					font: 16px 'lato';

					&::after {
						width: 100px;
					}
				}
				ul {
					li {
						font: bold 15px/2 'lato';
					}
				}
			}
			.middle {
				h6 {
					font: 16px 'lato';

					&::after {
						width: 75px;
					}
				}
				ul {
					li {
						font: bold 15px/2 'lato';
					}
				}
			}
			.right {
				h6 {
					font: 16px 'lato';

					&::after {
						width: 100px;
					}
				}
				ul {
					li {
						font: bold 15px/2 'lato';

						span {
							font-size: 14px;
						}
					}
				}
			}
		}
	}
}

//m.p
@media screen and (max-width: $mp) {
	footer {
		.vid {
			h2 {
				font: 25px/1 'koulen';
			}
		}
		.inner {
			.left {
				h2 {
					font: 30px 'Libre Bodoni';

					&::after {
						width: 105px;
					}
				}
				p {
					font: bold 10px/2 'lato';
				}
			}
			.middle_0 {
				h6 {
					font: 14px 'lato';

					&::after {
						width: 82px;
					}
				}
				ul {
					li {
						font: bold 10px/2 'lato';
					}
				}
			}
			.middle {
				h6 {
					font: 14px 'lato';

					&::after {
						width: 64px;
					}
				}
				ul {
					li {
						font: bold 10px/2 'lato';
					}
				}
			}
			.right {
				h6 {
					font: 14px 'lato';

					&::after {
						width: 83px;
					}
				}
				ul {
					li {
						font: bold 10px/2 'lato';

						span {
							font-size: 10px;
						}
					}
				}
			}
		}
	}
}
