header {
	width: 100%;
	background: rgba(245, 245, 220, 0.5);

	.inner {
		width: 1180px;
		height: 80px;
		margin: 0px auto;
		position: relative;

		h1 {
			position: absolute;
			bottom: 20px;
			left: 0px;

			a {
				font: bold 35px/1 'Libre Bodoni';
				color: #111;
			}
		}

		#gnb {
			position: absolute;
			bottom: 0px;
			right: 0px;

			li {
				float: left;

				a {
					display: inline-block;
					padding: 22px 30px;
					font: 18px/1 'Orelega One';
					color: #111;
				}
			}
		}
		.menuMo {
			position: absolute;
			right: 30px;
			bottom: 20px;
			font-size: 24px;
			color: #111;
			display: none;
		}
	}
	&.main {
		z-index: 2;
	}
}

//tablet
@media screen and (max-width: $tablet) {
	header {
		.inner {
			width: 100%;

			h1 {
				left: 30px;
			}
			#gnb {
				display: block;
			}
			.menuMo {
				display: block;
			}
		}
	}
}

//m.p
@media screen and (max-width: $mp) {
}
