header {
	width: 100%;
	background: #000;

	.inner {
		width: 1180px;
		height: 80px;
		margin: 0px auto;
		position: relative;

		h1 {
			position: absolute;
			bottom: 20px;
			left: 0px;

			a {
				font: bold 38px/1 'Libre Bodoni';
				color: #999;
			}
		}

		#gnb {
			position: absolute;
			bottom: 0px;
			right: 0px;

			li {
				float: left;

				a {
					display: inline-block;
					padding: 22px 30px;
					font: 19px/2 'radio canada';
					color: #999;
				}
			}
		}
		.menuMo {
			position: absolute;
			right: 30px;
			bottom: 20px;
			font-size: 24px;
			color: #111;
			display: none;
		}
	}
	&.main {
		// background: transparent;
		position: absolute;
		top: 0px;
		left: 0px;
		z-index: 2;
	}
}

//tablet
@media screen and (max-width: $tablet) {
	header {
		.inner {
			width: 100%;

			h1 {
				left: 30px;
			}
			#gnb {
				display: none;
			}
			.menuMo {
				display: block;
				color: #999;
				font-size: 36px;
				transition: 0.5s;
			}
			.menuMo:hover {
				color: #d5a869;
			}
		}
	}
}
