.scroll_navi {
	position: fixed;
	top: 50%;
	right: 50px;
	transform: translateY(-50%);
	z-index: 5;

	li {
		width: 10px;
		height: 10px;
		background: #c9ab81;
		// border: 1px solid #777;
		border-radius: 10px;
		margin-bottom: 20px;
		cursor: pointer;
		transition: 0.5s;

		&.on {
			height: 150px;
			background: #c9ab81;
		}
	}
}
