.content {
	background-color: #eee;
}

#sec_1 {
	width: 1180px;
	height: 100vh;
	background-image: url(/img/main2.jpg);
	background-size: cover;
	// background-position: center;
	overflow: hidden;
	position: relative;
}
