#news {
	width: 100%;
	padding: 5vw;
	padding-top: 300px;
	text-align: center;
	background-color: #000;

	.wrpper {
		position: relative;
		width: 100%;
		margin-bottom: 400px;

		#title {
			font: 50px/1 'lato';
			color: #c9ab81;
			letter-spacing: 4px;
			margin-bottom: 70px;
		}
		h2 {
			font: 20px/1 'lato';
			letter-spacing: 2px;
			color: #c9ab81;
			margin-bottom: 60px;
		}
		p {
			font: 20px/2 'oswald';
			letter-spacing: 3px;
			color: #999;
			margin-bottom: 80px;
		}
		img {
			margin-bottom: 80px;
		}
		a {
			position: absolute;
			display: block;
			left: 50%;
			transform: translateX(-50%);
			width: 100px;
			height: 36px;
			background-color: #daa964;
			border: 1px solid #daa964;
			text-align: center;
			font: 18px/1.8 'oswald';
			color: #000;
			transition: 0.5s;
		}

		a:hover {
			color: #daa964;
			background-color: #000;
		}
	}

	h1 {
		font: 50px/1 'lato';
		color: #c9ab81;
		letter-spacing: 4px;
		margin-bottom: 150px;
	}

	.wrap {
		display: flex;
		justify-content: space-evenly;
		align-content: center;

		.pic {
			width: 500px;

			overflow: hidden;

			img {
				width: 100%;
				object-fit: cover;
				filter: grayscale(0.6);
				cursor: pointer;
				transition: 0.5s;
			}

			.swiper {
				width: 100%;
				overflow: visible;
			}

			.swiper-slide {
				text-align: center;
				font-size: 18px;
				background: #fff;

				/* Center slide text vertically */
				display: -webkit-box;
				display: -ms-flexbox;
				display: -webkit-flex;
				display: flex;
				-webkit-box-pack: center;
				-ms-flex-pack: center;
				-webkit-justify-content: center;
				justify-content: center;
				-webkit-box-align: center;
				-ms-flex-align: center;
				-webkit-align-items: center;
				align-items: center;
			}

			.swiper-slide img {
				display: block;
				width: 100%;
				height: 100%;
				object-fit: cover;
			}

			.swiper-button-prev {
				opacity: 0;
			}

			.swiper-button-next {
				opacity: 0;
			}
		}

		div {
			width: 500px;

			li {
				background: rgba(102, 102, 102, 0.7);
				width: 100%;
				padding: 14px;
				margin-bottom: 1%;
				cursor: pointer;

				h2 {
					font: 20px/1 'lato';
					letter-spacing: 2px;
					color: #c9ab81;
					margin-bottom: 15px;
				}
				p {
					font: 20px/1 'oswald';
					letter-spacing: 3px;
					color: #999;
				}
			}
			:hover {
				background-color: #222;
			}
		}
	}
}
