#news {
	width: 100%;
	height: 100vh;
	padding: 5vw;
	text-align: center;
	background-color: #000;
	h1 {
		font: bold 80px/1 'arial';
		color: #c9ab81;
		letter-spacing: 4px;
		margin-bottom: 80px;
	}
	.pic {
		float: left;
		width: 45%;
		margin-right: 10%;
		overflow: hidden;

		img {
			width: 100%;
			filter: grayscale(1);
			cursor: pointer;
			transition: 0.5s;
		}
		img:hover {
			transform: scale(1.1);
			filter: grayscale(0.5);
		}
	}

	div {
		float: left;
		width: 45%;
		li {
			background: rgba(102, 102, 102, 0.7);
			height: 110px;
			margin-bottom: 30px;
			padding: 30px;
			cursor: pointer;

			h2 {
				font: 33px/1 'koulen';
				letter-spacing: 2px;
				color: #fff;
				margin-bottom: 10px;
			}
			p {
				font: 26px/1 'oswald';
				letter-spacing: 3px;
				color: #fff;
			}
		}
		:hover {
			background-color: #c9ab81;
		}
	}
}
