#pics {
	width: 100%;
	padding: 10vw;
	padding-top: 300px;
	text-align: center;
	background: #000;
	overflow: hidden;
	position: relative;

	// h2 {
	// 	font: bold 60px/1 'arial';
	// 	color: #444;
	// }
	p {
		font: 50px/1 'lato';
		color: #c9ab81;
		position: relative;
		margin-bottom: 150px;
	}

	.list {
		text-align: center;
		display: inline-flex;
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;

		li {
			img {
				width: 300px;
				filter: grayscale(1);
				cursor: pointer;
				transition: 0.5s;
				transform: scale(0.9);
			}
			img:hover {
				filter: grayscale(0.5);
				transform: scale(1);
			}
			h2 {
				font: 25px/1.3 'oswald';
				color: #c9ab81;
				margin-bottom: 10px;
			}
		}
	}

	a {
		position: absolute;
		display: block;
		left: 50%;
		transform: translateX(-50%);
		margin-top: 150px;
		width: 100px;
		height: 36px;
		background-color: #daa964;
		border: 1px solid #daa964;
		text-align: center;
		font: 18px/1.8 'oswald';
		color: #000;
		transition: 0.5s;
	}

	a:hover {
		color: #daa964;
		background-color: #000;
	}
}
