figure {
	width: 100%;
	height: 100vh;
	// background-size: cover;
	// background-position: center;
	overflow: hidden;
	position: relative;
	background-color: #000;
	img {
		width: 100%;
		object-fit: cover;
	}
	.swiper {
		height: 100%;
		overflow: visible;

		.swiper-slide {
			width: 100%;
			background: #000;
			display: flex;
			justify-content: center;
			align-items: center;
			font: bold 50px/1 'arial';
			color: #fff;
			transform: scale(1);
			transition: 0.5s;
		}
		.swiper-slide::before {
			content: '';
			opacity: 0;
			position: absolute;
			top: 0px;
			left: 0px;
			right: 0px;
			bottom: 0px;
			background-color: #000;
		}
		.swiper-slide-active {
			transform: scale(1);
			opacity: 1;
			box-shadow: 0px 0px 40px rgba(0, 255, 255, 0.5);
		}

		.swiper-button-prev {
			color: #c9ab81;
			opacity: 0;
		}
		// :hover {
		// 	color: red;
		// }

		.swiper-button-next {
			color: #c9ab81;
			opacity: 0;
		}

		.swiper-pagination {
			bottom: -60px;

			.swiper-pagination-bullet {
				transition: 0.5s;
				background: #000;
			}

			.swiper-pagination-bullet-active {
				width: 50px;
				height: 8px;
				border-radius: 4px;
				background: #000;
			}
		}
	}

	.wrap {
		z-index: 5;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-align: center;
		h1 {
			font-size: 40px;
			margin-bottom: 50px;
			letter-spacing: 3px;
			text-shadow: 3px 2px #000;
			font-family: oswald;
			color: #d5a869;
		}
		h2 {
			font-size: 80px;
			margin-bottom: 60px;
			letter-spacing: 3px;
			text-shadow: 3px 2px #000;
			font-family: libre bodoni;
			color: #d5a869;
		}
		div {
			a {
				font-size: 20px;
				font-weight: bold;
				letter-spacing: 2px;
				color: #000;
				padding: 5px 15px;
				border: 1px solid #d6ad74;
				background-color: #d6ad74;
				font-family: oswald;
			}
			:hover {
				background-color: rgba(0, 0, 0, 0.8);
				color: #e1a95a;
				text-shadow: 1px 1px 3px #d19746;
			}
		}
	}
}
