.Department {
	figure {
		background-image: url(/img/vi11.jpg);
		background-size: cover;
		background-position: center;
	}
	.summary {
		margin-bottom: 50px;
		text-align: center;
		h1 {
			font: 64px/1 'lato';
			color: #000;
		}
		p {
			font: 25px/1 'oswald';
			color: #555;
			letter-spacing: 1px;
		}
	}
	.memberList {
		&::after {
			content: '';
			display: block;
			clear: both;
		}
		li {
			float: left;
			width: 33.333%;
			padding: 10px;

			.inner {
				width: 100%;
				border: none;
				padding: 10px;
				text-align: center;
				div {
					img {
						width: 300px;
						height: 600px;
						object-fit: cover;
						filter: grayscale(1);
						transform: scale(0.9);
						cursor: pointer;
					}
					:hover {
						filter: grayscale(0.5);
						transform: scale(1);
					}
				}

				h2 {
					margin-top: 15px;
					margin-bottom: 20px;
					font: bold 35px/1 'oswald';
					color: #000;
				}

				p {
					font: bold 22px/1.2 'lato';
					margin-bottom: 20px;
					color: #555;
				}
			}
		}
	}
	.contact {
		width: 100%;
		text-align: center;
		margin-top: 100px;

		.warp {
			width: 500px;
			height: 300px;
			margin: 0 auto;

			h1 {
				font: 48px/1 'oswald';
				color: #000;
				letter-spacing: 2px;

				height: 30px;
			}
			p {
				font: 25px/1 'oswald';
				color: #555;
				margin-bottom: 20px;
			}

			#email {
				width: 450px;
				height: 50px;
				background-color: rgba(153, 153, 153, 0.4);
				border: none;
				font: 20px/1 'lato';
				text-indent: 1em;
				margin-bottom: 20px;
			}

			button {
				width: 450px;
				height: 50px;
				background-color: #000;
				border: none;
				font: bold 20px/1 'lato';

				a {
					color: #fff;
				}
			}
		}
	}
}
