.Gallery {
	figure {
		background-image: url(/img/r2.jpg);
		background-size: cover;
		background-position: center;
	}
	.intro {
		text-align: center;
		h1 {
			font: 64px/1 'lato';
			color: #c9ab81;
		}
	}
	.loading {
		position: absolute;
		width: 100%;
		top: 0px;
		left: 50%;
		transform: translateX(-50%);
	}
	button {
		background-color: #000;
		font: 36px/2 'oswald';
		color: #fff;
		letter-spacing: 2px;
		cursor: pointer;
	}
	button:hover {
		color: #c9ab81;
	}
	.searchBox {
		float: right;
		input {
			width: 300px;
			height: 40px;
			border: 1px solid #000;
			background-color: #222;
			margin-right: 20px;
			padding-top: 10px;
			color: #fff;
			font-size: 20px;
		}
	}
	.frame {
		transform: translateY(200px);
		opacity: 0;
		transition: 1s;
		margin-top: 100px;

		&.on {
			transform: translateY(0px);
			opacity: 1;
		}

		&::after {
			content: '';
			display: block;
			clear: both;
		}
		article {
			width: 33.333%;
			float: left;
			padding: 10px;

			.inner {
				width: 100%;
				background: #222;
				box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
				padding: 10px;

				.pic {
					width: 100%;
					margin-bottom: 10px;
					cursor: pointer;
					overflow: hidden;

					img {
						width: 100%;
						// height: 300px;
						object-fit: cover;
						filter: grayscale(1);
						transition: 0.5s;
					}
				}
				img:hover {
					filter: grayscale(0.5);
					transform: scale(1.2);
				}

				h2 {
					text-align: left;
					font: normal 30px/1.2 'koulen';
					color: #c9ab81;
					margin-bottom: 20px;
					word-wrap: break-word;
					//word-wrap: normal : 단어단위로 줄바꿈
					//word-wrap: breack-word : 글자단위로 줄바꿈
				}

				.profile {
					display: flex;
					justify-content: right;
					align-items: center;

					img {
						width: 40px;
						height: 40px;
					}
					span {
						font: 20px/1 'oswald';
						color: #999;
						margin-left: 10px;
						cursor: pointer;

						&:hover {
							color: #c9ab81;
						}
					}
				}
			}
		}
	}
	.contact {
		width: 100%;
		text-align: center;
		margin-top: 120px;
		background-color: #111;

		.warp {
			padding-top: 25px;
			width: 500px;
			height: 300px;
			margin: 0 auto;

			h1 {
				font: 48px/1 'oswald';
				color: #c9ab81;
				letter-spacing: 2px;

				height: 30px;
			}
			p {
				font: 25px/1 'oswald';
				color: #999;
				margin-bottom: 20px;
			}

			#email {
				width: 450px;
				height: 50px;
				background-color: #333;
				border: none;
				font: 20px/1 'lato';
				color: #c9ab81;
				text-indent: 1em;
				margin-bottom: 20px;
			}

			button {
				width: 450px;
				height: 50px;
				background-color: #666;
				border: none;
				font: bold 20px/1 'lato';
				transition: 0.5s;

				a {
					color: #fff;
				}
				a:hover {
					color: #c9ab81;
				}
			}
		}
	}
}
