.Gallery {
	figure {
		background-image: url(/img/r2.jpg);
		background-size: cover;
		background-position: center;
	}
	ul {
		&::after {
			content: '';
			display: block;
			clear: both;
		}

		li {
			width: 33.333%;
			float: left;
			padding: 10px;

			.inner {
				width: 100%;
				padding: 0px;

				.pic {
					width: 100%;
					margin-bottom: 0px;
					filter: grayscale(1);
					transform: scale(0.9);
					cursor: pointer;

					img {
						width: 100%;
					}
				}
				:hover {
					filter: grayscale(0.5);
					transform: scale(1);
				}
				.box {
					margin-top: -5px;
					padding-top: 10px;

					text-align: center;
					p {
						font: 25px/1 'koulen';
						color: #111;
						margin-bottom: 15px;
					}

					.profile {
						display: flex;
						margin-bottom: 15px;
					}
				}
			}
		}
	}
}
