.Join {
	.inner {
		width: 1180px;

		.title {
			width: 100%;
			text-align: center;
			margin-bottom: 200px;
			h1 {
				font: 50px/1 'lato';
				color: #c9ab81;
				letter-spacing: 1px;
			}
			p {
				font: 20px/1 'oswald';
				letter-spacing: 2px;
				color: #999;
			}
		}

		.video {
			width: 100%;
			height: 400px;
			position: relative;

			video {
				width: 100%;
				height: 100%;
				object-fit: cover;
				filter: grayscale(1);
			}
			h2 {
				font: 55px/1 'oswald';
				color: #b38d58;
				text-shadow: 1px 1px #000;
				letter-spacing: 2px;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translateX(-50%) translateY(-50%);
			}
		}
		.wrap {
			width: 100%;
			display: flex;
			margin-top: -200px;

			form {
				width: 50%;
				margin-top: 200px;
				height: 500px;
				background-color: #111;
				position: relative;
				color: #c9ab81;
				text-align: left;
				font: 16px/2.6 'oswald';
				fieldset {
					border: none;
					table {
						position: absolute;
						top: 5%;
						left: 10%;

						tbody {
							position: absolute;
							width: 500px;
							height: 500px;
							tr {
								th {
									width: 200px;
									#cancel {
										background-color: #c9a067;
										width: 80px;
										height: 30px;
										font: 18px/1 'koulen';
									}
									#submit {
										background-color: #c9a067;
										width: 80px;
										height: 30px;
										font: 18px/1 'koulen';
									}
								}
								td {
									letter-spacing: 1px;
									input {
										background-color: #fff;
										color: #c9ab81;
									}
									#eud {
										background-color: #fff;
									}
									textarea {
										margin-top: 20px;
										background-color: #fff;
										color: #c9ab81;
									}
								}
							}
						}
					}
				}
			}
			.contact {
				width: 50%;

				.warpper {
					text-align: center;
					margin-top: 200px;
					height: 500px;
					position: relative;

					img {
						width: 100%;
						height: 100%;
						filter: grayscale(0.9);
						object-fit: cover;
					}
					.box {
						position: absolute;
						top: 50%;
						left: 50%;
						transform: translateX(-50%) translateY(-50%);
						h1 {
							font: 40px/1 'oswald';
							color: #d5a869;
							text-shadow: 2px 3px 2px #000;
							letter-spacing: 2px;
							height: 30px;
						}
						p {
							font: 20px/1 'oswald';
							color: #d5a869;
							text-shadow: 2px 2px 2px #000;
							margin-bottom: 20px;
						}
						#email {
							width: 400px;
							height: 40px;
							background-color: #ddd;
							border: none;
							font: 20px/1 'lato';
							color: #c9ab81;
							text-indent: 1em;
							margin-bottom: 20px;
						}

						button {
							width: 400px;
							height: 40px;
							background-color: #d5a869;
							border: none;
							font: bold 20px/1 'lato';

							a {
								color: #000;
							}
							a:hover {
								color: #fff;
							}
						}
					}
				}
			}
		}
		.address {
			width: 100%;
			margin-bottom: -100px;
			.wrap {
				width: 1180px;
				height: 500px;
				display: flex;
				justify-content: space-around;
				align-items: center;
				margin-top: 1px;
				h2 {
					font: 20px/1 'oswald';
					color: #c9ab81;
					letter-spacing: 2px;
					margin-bottom: 20px;
				}
				a {
					font: 15px/2 'oswald';
					letter-spacing: 2px;
					color: #c9ab81;
				}
				a:hover {
					text-shadow: 2px 1px 10px #c9ab81;
				}
			}
		}
	}
}

//tablet
@media screen and (max-width: $tablet) {
}

//m.p
@media screen and (max-width: $mp) {
}
