.Join {
	figure {
		background-image: url(/img/dd1.jpg);
		background-size: cover;
		background-position: top;
	}
	.inner {
		margin-top: 0;
		padding-top: 150px;
		margin-bottom: 0;
		width: 100%;
		height: 100vh;
		display: flex;
		background-color: #000;

		.title {
			position: absolute;
			width: 100%;
			text-align: center;
			top: 15%;
			h1 {
				font: 60px/1 'oswald';
				color: #c9ab81;
				letter-spacing: 2px;
			}
			p {
				font: 25px/1 'oswald';
				color: #999;
				margin-bottom: 20px;
			}
		}

		form {
			width: 50%;
			margin-top: 200px;
			height: 500px;
			background-color: #333;
			position: relative;
			color: #c9ab81;
			font: 20px/2 'oswald';
			fieldset {
				border: none;
				table {
					position: absolute;
					top: 0%;
					left: 25%;

					tbody {
						position: absolute;
						width: 500px;
						height: 500px;
						tr {
							th {
								width: 200px;
							}
						}
					}
				}
			}
		}
		.contact {
			width: 50%;

			.warp {
				text-align: center;
				margin-top: 200px;
				height: 500px;
				background-color: #222;
				div {
					position: absolute;
					right: 55%;
					top: 50%;
					h1 {
						font: 48px/1 'oswald';
						color: #c9ab81;
						letter-spacing: 2px;
						height: 30px;
					}
					p {
						font: 25px/1 'oswald';
						color: #999;
						margin-bottom: 20px;
					}

					#email {
						width: 450px;
						height: 50px;
						background-color: #ddd;
						border: none;
						font: 20px/1 'lato';
						text-indent: 1em;
						margin-bottom: 20px;
					}

					button {
						width: 450px;
						height: 50px;
						background-color: #111;
						border: none;
						font: bold 20px/1 'lato';

						a {
							color: #fff;
						}
					}
				}
			}
		}
	}
}
