.Location {
	figure {
		background-image: url(/img/l1.jpg);
		background-size: cover;
		background-position: center;
	}
	.contact {
		width: 100%;
		.warp {
			width: 1180px;
			height: 200px;
			.news {
				float: left;
				width: 590px;
				h1 {
					font: 60px/1 'oswald';
					color: #c9ab81;
					letter-spacing: 10px;
					float: left;
					height: 30px;
				}
				p {
					font: 25px/1 'oswald';
					color: #999;
					float: left;
				}
			}
			.newsForm {
				float: left;
				width: 590px;

				#email {
					width: 500px;
					height: 50px;
					float: left;
					background-color: #555;
					border: none;
					font: 20px/1 'lato';
					text-indent: 1em;
					margin-bottom: 20px;
				}
				button {
					width: 500px;
					height: 50px;
					float: left;
					background-color: #c9ab81;
					border: none;
					font: bold 20px/1 'lato';

					a {
						color: #000;
					}
				}
				::after {
					display: block;
					content: ' ';
					clear: both;
				}
			}
		}
	}
	#map {
		width: 100%;
		height: 400px;
		background: #000;
		position: relative;
	}

	#traffic {
		width: 100px;
		height: 26px;
		margin-top: 5px;
		background-color: #000;
		border: 1px solid #c9ab81;
		font: 16px/1 'oswald';
		letter-spacing: 1px;
		color: #c9ab81;
		cursor: pointer;
	}

	.branch {
		li {
			float: right;
			display: block;
			width: 120px;
			height: 26px;
			margin-right: 5px;
			border: 1px solid #c9ab81;
			text-align: center;
			color: #c9ab81;
			font: 15px/1.5 'oswald';
			cursor: pointer;
			&.on {
				color: #000;
				background-color: #c9ab81;
			}
		}
	}
}
