.Youtube {
	figure {
		background-image: url(/img/aaa1.jpg);
		background-size: cover;
		background-position: center;
	}
	.title {
		width: 100%;
		text-align: center;
		margin-bottom: 100px;
		h1 {
			font: 50px/1 'lato';
			color: #c9ab81;
			letter-spacing: 2px;
		}
		p {
			font: 20px/1 'oswald';
			color: #999;
			margin-bottom: 20px;
		}
	}

	.inner {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		padding-bottom: 200px;

		article {
			width: 350px;
			overflow: hidden;
			position: relative;
			img {
				width: 350px;
				height: 700px;
				object-fit: cover;
				cursor: pointer;
				filter: grayscale(1);
				transform: scale(0.9);
				transition: 0.5s;
			}
			img:hover {
				filter: grayscale(0.3);
				transform: scale(1);
			}
			h2 {
				position: absolute;
				top: 50px;
				font-size: 25px;
				font-family: oswald;
				color: #c9ab81;
				text-indent: 13px;
			}
			p {
				position: absolute;
				bottom: 0px;
				font-family: lato;
				font-weight: bold;
				font-size: 15px;
				color: #999;
				margin-bottom: 50px;
			}
		}
	}
	.contact {
		width: 100%;
		text-align: center;
		margin-top: 200px;
		// margin-bottom: 100px;
		background-color: #111;

		.warp {
			padding-top: 25px;
			width: 500px;
			height: 300px;
			margin: 0 auto;

			h1 {
				font: 40px/1 'oswald';
				color: #c9ab81;
				letter-spacing: 2px;
				height: 30px;
			}
			p {
				font: 20px/1 'oswald';
				color: #999;
				letter-spacing: 2px;
				margin-bottom: 30px;
			}

			#email {
				width: 450px;
				height: 40px;
				background-color: #333;
				border: none;
				font: 16px/1 'lato';
				color: #c9ab81;
				text-indent: 1em;
				margin-bottom: 20px;
			}

			button {
				width: 450px;
				height: 40px;
				background-color: #c9a067;
				border: none;
				font: bold 16px/1 'lato';
				transition: 0.5s;

				a {
					color: #000;
				}
				a:hover {
					color: #fff;
				}
			}
		}
	}
}
