.Youtube {
	figure {
		background-image: url(/img/aaa1.jpg);
		background-size: cover;
		background-position: center;
	}
	.title {
		width: 100%;
		text-align: center;
		margin-bottom: 100px;
		h1 {
			font: 64px/1 'lato';
			color: #c9ab81;
			letter-spacing: 2px;
		}
		p {
			font: 25px/1 'oswald';
			color: #999;
			margin-bottom: 20px;
		}
	}

	.inner {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		padding-bottom: 200px;

		article {
			width: 350px;
			overflow: hidden;
			position: relative;
			img {
				width: 350px;
				height: 700px;
				object-fit: cover;
				cursor: pointer;
				filter: grayscale(1);
				transform: scale(0.9);
			}
			img:hover {
				filter: grayscale(0.3);
				transform: scale(1);
			}
			h2 {
				position: absolute;
				top: 30px;
				font-size: 30px;
				font-family: bold oswald;
				color: #c9ab81;
				margin-bottom: 5px;
			}
			p {
				position: absolute;
				bottom: -15px;
				font-family: lato;
				font-weight: bold;
				font-size: 18px;
				color: #fff;
				margin-bottom: 50px;
			}
		}
	}
}
